[submodule "old/payload/include/pico-sdk"]
	path = old/payload/include/pico-sdk
	url = https://github.com/raspberrypi/pico-sdk
[submodule "old/payload/include/eigen"]
	path = old/payload/include/eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "old/freeRTOS-payload/include/picotool"]
	path = old/freeRTOS-payload/include/picotool
	url = https://github.com/raspberrypi/picotool
[submodule "old/freeRTOS-payload/include/pico-sdk"]
	path = old/freeRTOS-payload/include/pico-sdk
	url = https://github.com/raspberrypi/pico-sdk.git
[submodule "old/freeRTOS-payload/include/FreeRTOS-Kernel"]
	path = old/freeRTOS-payload/include/FreeRTOS-Kernel
	url = https://github.com/raspberrypi/FreeRTOS-Kernel
[submodule "libs/LSM6DSO32"]
	path = libs/LSM6DSO32
	url = https://github.com/RocketryVT/LSM6DSO32.git
[submodule "libs/ADXL375"]
	path = libs/ADXL375
	url = https://github.com/RocketryVT/ADXL375.git
[submodule "libs/ISM330DHCX"]
	path = libs/ISM330DHCX
	url = https://github.com/RocketryVT/ISM330DHCX.git
[submodule "libs/Controls"]
	path = libs/Controls
	url = https://github.com/RocketryVT/Controls.git
[submodule "libs/Mesh"]
	path = libs/Mesh
	url = https://github.com/RocketryVT/Mesh.git
[submodule "libs/UBLOX-rs"]
	path = libs/UBLOX-rs
	url = https://github.com/RocketryVT/UBLOX-rs.git
